<section>
  <header class="editor-header">
    <select name="language" id="language" class="form-control float-left lang-select"
              [(ngModel)]="language" (change)="setLanguage(language)">
      <option [value]="language" *ngFor="let language of languages">
        {{language}}
      </option>
    </select>

    <!--reset button-->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-redo-alt"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reset</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You will lose current code in the window, are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetEditor()">Reset</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--<div class="row">-->
    <div id="editor"></div>
  <!--</div>-->

  <footer class="editor-footer">
    <button class="btn btn-success float-right" (click)="submit()">Submit <i class="fas fa-upload"></i></button>
  </footer>

</section>
